
#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.store {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: var(--menu-width);
  margin: 0;
  padding: 0;
}
.store--item {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 0;
  margin: 0;
}
#store--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
.store--btn {
  width: 50%;
  height: 100%;
}