.layout--header {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: black;
    width: var(--header-width);
    height: var(--header-height);
    color: white;
  }
  .header--text {
    margin-left: 3vw;
  }