@import "./header.css";
@import "./footer.css";
#base-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

#game {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: var(--secondary);

}

#main {
  width: var(--center-width);
  border: var(--special-border);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar {
    border: var(--special-border);
    width: var(--sidebar-width);
    height: var(--sidebar-height);
}
  
  