button {    
  --border-width: 2px;
  --border-round: 10px;
  --font-size: 1em;
  --font-weight: 500;
  --pad-v: 0.6em;
  --pad-h: 1.2em;
  border-radius: var(--border-round);
  border: var(--border-width) solid transparent;
  padding: var(--pad-v) var(--pad-h);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: inherit;
  background-color: var(--btn-bg-default);
  color: var(--btn-font-color);
  cursor: pointer;
  transition: var(--btn-hover-border-transition);
}
button:hover {
  border-color: var(--btn-border-hover);
  color: var(--btn-border-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
