@import "./font.css";
@import "./body.css";
@import "./button.css";
:root {
  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

#app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
  }