:root {
  --primary-dark: rgb(40, 40, 0);
  --primary-light: rgba(255, 255, 255, 0.87);
  --text-dark: var(--primary-light);
  --text-light: var(--primary-dark);
  --primary: var(--primary-dark);
  --secondary: var(--primary-light);
  --special: rgb(100, 108, 255);
  --btn-border-hover: var(--special);
  --btn-bg-default: rgb(172, 172, 172);
}