:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-inter: Inter;
  --font-ui: system-ui;
  --font-avenir: Avenir;
  --font-helvetica: Helvetica;
  --font-arial: Arial;
  --font-serif: sans-serif;
} 
:root {
  --font-color: var(--secondary);
  --btn-font-color: var(--primary);
}