:root {
    --total-sidebars: 2;
    --vw-max: 100vw;
    --vh-max: 100vh;
    --center-width: 70vw;
    --center-height: 80vh;
    --header-offset: 5vh;
    --menu-offset: 10%;    
    --header-width: calc(var(--vw-max) - var(--sidebar-width));
    --footer-width: calc(var(--vw-max) - var(--sidebar-width));
    --clicker-diameter: 200px;
  
    --header-height: calc(calc(
        var(--vh-max) - var(--center-height)) -
        var(--header-offset)
    );
    --center-header-combine-height: calc(
        var(--header-height) + var(--center-height)
    );
    --footer-height: calc(
        var(--vh-max) - var(--center-header-combine-height)
    );
    --sidebar-total: calc(var(--vw-max) - var(--center-width));
    --sidebar-width: calc(var(--sidebar-total) / var(--total-sidebars));
    --sidebar-left-height: var(--center-height);
    --sidebar-right-height: var(--vh-max);
    --menu-width: calc(var(--sidebar-width) - var(--menu-offset));
    
  }