@import "./lengths.css";
@import "./colors.css";
@import "./fonts.css";
:root {
  --circle: 100%;
  --double: 6px double;
  --special-border: var(--double) var(--special);
  --btn-hover-transition-time: 0.25s;
  --btn-hover-border-transition: 
    border-color var(--btn-hover-transition-time); 
}