
@media (prefers-color-scheme: light) {
    :root {
      color: var(--text-light);
      background-color: var(--primary-light);
    }
    a:hover {
      color: var(--special);
    }
    button {
      background-color: var(--primary-dark);
    }
  }
  